<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbrc.back.mapper.OrgInfoMapper">





    <select id="query"  resultType="com.cbrc.back.model.OrgInfo">
        select * from orginfo
        <trim prefix="WHERE" prefixOverrides="AND |OR">

            <if test="orgid != null "> AND orgid=#{orgid}</if>
            <if test="orgname != null "> AND orgname=#{orgname}</if>
            <if test="orgtype != null "> AND orgtype=#{orgtype}</if>

        </trim>

    </select>








</mapper>