<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbrc.back.mapper.OrgInfoMapper">





    <select id="query"  resultType="com.cbrc.back.model.OrgInfo">
        select * from orginfo
        <trim prefix="WHERE" prefixOverrides="AND |OR">

            <if test="orgid != null "> AND orgid=#{orgid}</if>
            <if test="orgname != null "> AND orgname LIKE #{orgname}</if>
            <if test="orgtype != null "> AND orgtype=#{orgtype}</if>
            <if test="pushtype != null "> AND pushtype=#{pushtype}</if>
        </trim>

        ORDER BY orgname

    </select>





    <insert id="insert"  parameterType="com.cbrc.back.model.OrgInfo">
        insert into orginfo(orgid,orgname,orgtype,manager) values  (#{orgid},#{orgname},#{orgtype},#{manager})
    </insert>





    <update id="update"  parameterType="com.cbrc.back.model.OrgInfo">

        update  orginfo
        <trim prefix="set" suffixOverrides=",">
            <if test="orgname != null ">
                orgname=#{orgname},
            </if>
            <if test="orgtype != null ">
                orgtype=#{orgtype},
            </if>
            <if test="manager != null ">
                manager=#{manager},
            </if>

        </trim>
        where orgid=#{orgid}

    </update>





    <delete id="delete"  parameterType="java.lang.String">
        delete from orginfo where orgid=#{orgid}
    </delete>

</mapper>