<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbrc.back.mapper.OrgTypeMapper">





    <select id="findAll"  resultType="com.cbrc.back.model.OrgType">
        select * from dic_orgtype
    </select>





</mapper>