<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbrc.back.mapper.OrgTypeMapper">






    <select id="query"  parameterType="com.cbrc.back.model.OrgType" resultType="com.cbrc.back.model.OrgType">
        select * from dic_orgtype
        <trim prefix="WHERE" prefixOverrides="AND |OR">

            <if test="orgtype != null "> AND orgtype=#{orgtype}</if>

        </trim>
    </select>




<!--会把该机构下的所有子公司都查询(未完成)-->
    <select id="findAll"   resultType="java.util.Map">
       select * from  orginfo,dic_orgtype where orginfo.orgtype=dic_orgtype.orgtype
    </select>




    <update id="update"  parameterType="com.cbrc.back.model.OrgType">

        update  dic_orgtype
        <trim prefix="set" suffixOverrides=",">
            <if test="typename != null ">
                typename=#{typename},
            </if>
        </trim>
        where orgtype=#{orgtype}

    </update>




    <delete id="delete"  parameterType="java.lang.String">
        delete from dic_orgtype where orgtype=#{orgtype}
    </delete>


    <insert id="insert" useGeneratedKeys="true" keyProperty="orgtype" parameterType="com.cbrc.back.model.OrgType">
        insert into dic_orgtype(typename) values  (#{typename})
    </insert>







</mapper>