<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbrc.back.mapper.Table3Mapper">







    <insert id="insert" parameterType="com.cbrc.back.model.Table3">
        insert into Table3(col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,date,userid,filetype,taskcompleteid,orgtype)  values (#{col1},#{col2},#{col3},#{col4},#{col5},#{col6},#{col7},#{col8},#{col9},#{col10},#{col11},#{date},#{userid},#{filetype},#{taskcompleteid},#{orgtype})
    </insert>




    <select id="query" parameterType="com.cbrc.back.model.Table3" resultType="com.cbrc.back.model.Table3">

        select * from Table3

        <trim prefix="WHERE" prefixOverrides="AND |OR">

            <if test="filetype != null "> AND filetype=#{filetype}</if>
            <if test="id != null "> AND id=#{id}</if>
            <if test="orgtype != null "> AND orgtype=#{orgtype}</if>
            <if test="taskcompleteid != null "> AND taskcompleteid=#{taskcompleteid}</if>

        </trim>

    </select>





    <!--根据taskcomplete数组进行查询-->
    <select id="collectFind"  resultType="com.cbrc.back.model.Table3">
        select  * from Table3
        where taskcompleteid IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </select>





    <delete id="deleteByTaskCompleteId"  parameterType="java.lang.String">
        delete from table3 where taskcompleteid=#{taskcompleteid}
    </delete>


</mapper>