<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbrc.back.mapper.TaskMapper">
    <!--<resultMap id="BaseResultMap" type="com.cbrc.back.model.Task" >-->
        <!--<result column="id" property="id" />-->
        <!--<result column="tasktitle" property="tasktitle" />-->
        <!--<result column="taskdescribe" property="taskdescribe" />-->
        <!--<result column="fromdate" property="fromdate" />-->
        <!--<result column="enddate" property="enddate" />-->
        <!--<result column="filetype" property="filetype" />-->
        <!--<result column="orgtype" property="orgtype" />-->
        <!--<result column="userid" property="userid" />-->
        <!--<result column="createtime" property="createtime" />-->

    <!--</resultMap>-->
    <!--<select id="findById" resultMap="BaseResultMap">-->
        <!--select * from user where id = #{id}-->
    <!--</select>-->



    <select id="query" resultType="com.cbrc.back.model.Task">
        select * from task

        <trim prefix="WHERE" prefixOverrides="AND |OR">

            <if test="id != null "> AND id=#{id}</if>
            <if test="tasktitle != null "> AND tasktitle=#{tasktitle}</if>
            <if test="filetype != null "> AND filetype=#{filetype}</if>
            <if test="orgtype != null "> AND orgtype like #{orgtype}</if>

            <!--<if test="fromDate != null "> AND createtime &gt;= #{fromDate} AND createtime &lt;= #{endDate}</if>-->

        </trim>

    </select>





    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.cbrc.back.model.Task">
        insert into task(tasktitle,taskdescribe,fromdate,enddate,filetype,orgtype,userid,createtime,period) values  (#{tasktitle},#{taskdescribe},#{fromdate},#{enddate},#{filetype},#{orgtype},#{userid},#{createtime},#{period})
    </insert>



</mapper>