<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbrc.back.mapper.TaskCompleteMapper">







    <insert id="insert" parameterType="com.cbrc.back.model.TaskComplete">
        insert into taskcomplete(taskid,iscomplete,userid,orgid) values (#{taskid},#{iscomplete},#{userid},#{orgid})
    </insert>



    <select id="query" resultType="com.cbrc.back.model.TaskComplete" parameterType="com.cbrc.back.model.TaskComplete">

        select * from taskcomplete

        <trim prefix="WHERE" prefixOverrides="AND |OR">

            <if test="id != null "> AND id=#{id}</if>

            <if test="taskid != null "> AND taskid=#{taskid}</if>

            <if test="iscomplete != null "> AND iscomplete=#{iscomplete}</if>

            <if test="userid != null "> AND userid=#{userid}</if>

            <if test="orgid != null  "> AND orgid like #{orgid}</if>
        </trim>
    </select>






    <update id="update"  parameterType="com.cbrc.back.model.TaskComplete">

        update  taskcomplete
         <set>
             <if test="iscomplete != null ">
                 iscomplete=#{iscomplete}
             </if>
             <if test="userid != null ">
                 userid=#{userid}
             </if>
             <if test="completetime != null ">
                 completetime=#{completetime}
             </if>

         </set>
        where id=#{id}

    </update>






    <delete id="deleteByTaskId"  parameterType="java.lang.String">
        delete from taskcomplete where taskid=#{taskid}
    </delete>





</mapper>